.content {
    height: 100vh;
    position: fixed;
    width: 50px;
    background: linear-gradient(to right, var(--background-light), #1C1E21);
    display: flex;
    flex-direction: column;
}

.logoWrapper {
    display: flex;
    justify-content: center;
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tab {
    padding: 15px 0;
    /* color: rgb(236, 111, 126); */
}

.selectedBarWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    height: 60px;
    width: 3px;
}

.selectedBar {
    height: 80%;
    width: 100%;
    background-color: var(--pink);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/*! TABLET */
@media screen and (max-width: 980px) {
    .content {
        height: 50px;
        bottom: 0;
        width: 100vw;
        background: linear-gradient(var(--background-light), #1C1E21);
    }

    .logoWrapper {
        display: none;
    }

    .tabs {
        flex-direction: row;
        justify-content: center;
        display: flex;
    }

    .tab {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .selectedBarWrapper {
        top: 0;
        width: 90px;
        height: 4px;
    }

    .selectedBar {
        height: 100%;
        width: 60%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

}