.container {
    display: flex;
    margin-top: 30px;
}

.left {
    flex: 1;
    display: flex;
    font-size: 1.5rem;
    font-weight: 200;
    padding-top: 20px;
}

.right {
    flex: 4;
}


.data {
    background: var(--background-light);
    border-radius: 20px 20px 0 0;
    display: flex;
    padding: 20px 0;
}

.measurement {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid gray;
    /* background-image: radial-gradient(rgba(107, 137, 172, 0.111) 40%, rgba(29, 91, 161, 0) 80%); */
    /* margin: 0 10px;
    border-radius: 10px; */

}

.measurement:last-of-type {
    border-right: none;
}

.number {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--text-light);
}

.blue {
    color: skyblue;
}

.orange {
    color: #fd712e;
}

.commentButtonsWrapper {
    margin-top: 20px;
    height: 30px;

}

.commentButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}