.overview {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.imgOverview {
    flex: 1;
    position: relative;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.imgOverview img {
    position: absolute;
    z-index: 2;
}

.textDetailsOverview {
    flex: 5;
    flex-direction: column;
}

.textDetailsOverview h2 {
    font-size: 2rem;
    margin: 0;
}

.textDetailsOverview p {
    color: gray;
    margin: 0;
}


.onChangeButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.signOutButton {
    display: flex;
    align-items: center;
    justify-content: center;

}

/*! SMARTPHONE */
@media (min-width: 320px) and (max-width: 480px) {
    .overview {
        margin-top: 10px;
        /* gap: 50px; */
    }

    .onChangeButtonWrapper {
        padding-bottom: 20px;
    }

}