.container {
    background: var(--background-light);
    padding: 16px;
    border-radius: 10px;
    display: flex;
    width: 80vw;
    max-width: 800px;
    text-align: center;
    --svg-color: whitesmoke;
    color: var(--svg-color);
}

.flexColumn {
    flex-direction: column;
}

/*! SMARTPHONE */
@media screen and (max-width: 600px) {
    .container {
        width: 90vw;
        gap: 20px;
    }
}