.inputOption {
    min-width: 0;
    /* background-color: var(--background-dark); */
    background-color: transparent;
    color: whitesmoke;
    display: flex;
    border: none;
    /* border-radius: 5px; */
    border-bottom: 2px solid var(--background-dark);
    padding: 0;
    font-size: 0.8rem;
    text-align: center;
    /* padding: 0 0 0 12px; */
    font-family: "Nunito";


}

@keyframes fromLeft {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.inputOption:focus {
    outline: none;
    caret-color: var(--pink);
    border-bottom: 1px solid var(--pink);
}

.inputOption:active {
    /* border-bottom: 2px solid var(--pink); */
}