.container {
    overflow: hidden;

}

.contentWrapper {
    --footer-height: 50px;
    text-align: center;
    overflow: hidden;
}

.content {
    min-height: calc(100vh - var(--footer-height));
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    height: var(--footer-height);
    /* padding: 2rem 0; */
    /* border-top: 1px solid #eaeaea35; */
    box-shadow: 0 -0.5px 0 #eaeaea35;
    justify-content: center;
    align-items: center;
    color: rgb(189, 189, 189);
    width: 80%;
    margin: 0 auto;
}

/*! SMARTPHONE */
@media screen and (max-width: 600px) {
    .content {
        min-height: 0;
    }
}