.row {
    padding: 16px;
    background-color: var(--background-light);
    width: 50vw;
    max-width: 500px;
    display: flex;
    border-radius: 8px;
    margin: 24px 0;
}

.rowLeft {
    flex: 4;
    display: flex;
    align-items: center;
    gap: 15px;
}

.rowRight {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* overflow: hidden; */
}

.titleWrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

.rowTitle {
    margin: 0;
    display: inline;
}

.rowSubTitle {
    font-size: .9rem;
    color: gray;
    margin: 0;
    display: inline;
}

/*! SMARTPHONE */
@media only screen and (max-width: 600px) {
    .row {
        width: 90vw;
    }

    .titleWrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
}