.row {
    padding: 16px;
    background-color: var(--background-light);
    width: 50vw;
    max-width: 500px;
    display: flex;
    border-radius: 8px;
    margin: 24px 0;
}

.rowLeft {
    flex: 4;

}

.rowTitle {
    margin: 0;
    display: inline;
    padding-right: 15px;
}

.rowSubTitle {
    font-size: .9rem;
    color: gray;
    margin: 0;
    display: inline;
}