.dropdown {
    box-shadow: 0 0 1px rgb(81, 81, 81);
    border: 1px solid rgba(245, 245, 245, 0.174);
    background-color: var(--background-dark);
    text-align: center;
    flex: 2;
    color: whitesmoke;
    border-radius: 5px;
    padding: 20;
    cursor: pointer;
}

.dropdownMenu {
    background-color: none;
}

.dropdownMenu {
    border-top: 1px solid rgba(245, 245, 245, 0.174);
}

.dropdownMenu div.is-selected {
    color: red;
}

.dropdownMenu div:hover {
    /* background-color: green; */
    opacity: 0.6;
}

.dropdownPlaceHolder {
    color: whitesmoke;
}