.title {
    width: 100%;
    margin: 0;
}

.description {
    display: block;
    color: gray;
}

.reactCodeInput input {
    font-family: monospace;
    text-align: center;
    margin: 4px;
    width: 30px;
    font-size: 1.5rem;
    height: 50px;
    padding-left: 7px;
    background-color: transparent;
    color: lightskyblue;
    border: none;
    outline: none;
    border-bottom: 1px solid lightskyblue
}