.container {
    text-align: left;
    width: fit-content;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;

}

.title {
    flex: 5;
    color: gray;
    margin: 5px;
}

.option {
    flex: 1
}