.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/** MAIN ROW */

.main {
    display: flex;
    width: 100%;

}

.avatarWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
    /* justify-content: center; */
}

.description {
    flex: 5;
    padding: 0 10px;
    text-align: start;
    font-size: 1rem;
    font-weight: 300;
}

.name {
    color: rgb(202, 155, 155);
}

.gray {
    color: rgb(188, 188, 188);
    font-size: 0.9rem;
}


/** OPTIONS ROW */

.options {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 15px;
    margin: 0 20px 20px 0;
}

.notifButton {
    /* margin: 4px 22px; */
    font-size: 0.75rem;
    border-radius: 10px;
    padding: 5px 10px;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.discardButton {
    /* color: var(--pink);
    background-color: transparent;
    border: 1px solid var(--pink); */
    color: whitesmoke;
    background-color: transparent;
    border: 1px solid gray;
}

.viewButton {
    /* color: var(--pink);
    background-color: transparent;
    border: 1px solid var(--pink); */
    color: whitesmoke;
    background-color: var(--calm-blue);
    border: none;
}



.declineButton {
    /* color: var(--pink);
    background-color: transparent;
    border: 1px solid var(--pink); */
    color: whitesmoke;
    background-color: var(--calm-red);
    border: none;
}

.acceptButton {
    color: whitesmoke;
    background-color: var(--green);
    border: none;
}

/*! SMARTPHONE */
@media screen and (max-width: 600px) {
    .container {
        padding-top: 10px;
    }

    .options {
        margin: 0 20px 5px 0;
    }
}