.container {
    position: relative;
    width: fit-content;
    /* margin: 0 0 0 ; */
}

.monthYearButtonContainer {
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid rgba(255, 192, 203, 0.166);
    border-radius: 16px;
    padding: 8px 12px;
}

.monthYearButtonContainer p {
    margin: 0;
}

.datePickerWrapper {
    position: absolute;
    transform: translateX(-25%);
    z-index: 2;
    overflow: hidden;
}

/*! SMARTPHONE */
@media screen and (max-width: 600px) {
    .datePickerWrapper {
        right: 0;
        transform: translateX(0);
    }
}