@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root {
  --background-dark: #17171B;
  --background-light: #28272C;
  --green: #3BA55D;
  --pink: rgb(236, 111, 126);
  --red: rgb(255, 42, 67);
  --calm-red: #BD2148;
  --gray-red: rgb(148, 81, 81);
  --blue: lightskyblue;

  --tablet-max-width: 960px
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--background-dark);
  min-height: 100vh;
  color: #f5f5f5;

}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.avatar {
  border-radius: 50%;

}



/** Hide up down arrow in input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

/** Hide focus border in input */
input:active {
  border: none;
  outline: none;
}


/** BUTTONS */
.pink-button {
  padding: 4px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--calm-red);
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.gray-button {
  padding: 4px 22px;
  border-radius: 4px;
  border: none;
  background-color: gray;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.transparent-button {
  padding: 4px 22px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  align-items: center;

  /** Make border inside */
  -webkit-box-shadow: inset 0px 0px 0px 1px rgb(119, 96, 96);
  -moz-box-shadow: inset 0px 0px 0px 1px rgb(119, 96, 96);
  box-shadow: inset 0px 0px 0px 1px rgb(119, 96, 96);
}

.green-button {
  padding: 4px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--green);
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.black-button {
  padding: 4px 22px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* margin: 20px 0; */
}

.pink-button:disabled,
.black-button:disabled {
  opacity: 0.3;
  cursor: default;
}


/** FUNCTIONS  */
.hidden {
  visibility: hidden;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/** SMALL TABLET */
@media screen and (max-width: var(--tablet-max-width)) {
  .content {
    width: 100vw;
  }

}