.container {
    display: flex;
    width: 100%;
    margin: 20px 0;

}


.time {
    flex: 2;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 200;
    padding-top: 20px;
}


.data {
    flex: 6;
    background: var(--background-light);
    border-radius: 20px;
    display: flex;
    padding: 20px 0;
}

/* .data h2 {
    margin: 0;
} */



.measurement {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid gray;
    padding: 0 12px;
}

.measurement:last-of-type {
    border-right: none;
}